div.container2 {
  width: 94%;
  height: 482px;
  margin: 0px auto;
  padding: 0px 30px;
  margin-top: 100px; }
  div.container2 > div:nth-of-type(1) {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 20px; }
    div.container2 > div:nth-of-type(1) > span:nth-of-type(1) {
      width: 110px;
      height: 45px;
      border-radius: 30px;
      border: 1px solid black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
      div.container2 > div:nth-of-type(1) > span:nth-of-type(1) > a {
        text-decoration: none;
        font: 14.112px; }
    div.container2 > div:nth-of-type(1) > span:nth-of-type(1):hover {
      background-color: #cccccc; }
    div.container2 > div:nth-of-type(1) > span:nth-of-type(2) {
      width: 211px;
      height: 47px;
      color: #333333;
      font-size: 40.32px;
      margin: auto; }
  div.container2 > div:nth-of-type(2) {
    width: 100%;
    height: 395px;
    display: flex;
    align-items: center;
    justify-content: center; }
    div.container2 > div:nth-of-type(2) > div.container-bestitems {
      width: 877px;
      height: 397px;
      margin-right: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem {
        width: 200px;
        height: inherit; }
        div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(1) {
          width: 200px;
          height: 246px;
          background-color: #f5f5f5;
          position: relative;
          border-radius: 5px; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(1) > img {
            width: 190px;
            height: 236.7px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(1) > span {
            width: 97.2px;
            height: 28px;
            background-color: #63666a;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 5px;
            color: white;
            font-size: 12px;
            padding: 5px;
            text-transform: uppercase; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(1) > div.botton {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 30px;
            right: 12px;
            background-color: white;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(1) > div:nth-of-type(2) {
            width: 190px;
            height: 20px; }
        div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(2) {
          width: 236.7px;
          height: 23.2px;
          margin-top: 10px; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(2) > .checked {
            color: #80cdd0; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(2) > .not-checked {
            color: lightgray; }
        div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(3) {
          width: 236.7px;
          height: 41px;
          margin-top: 10px; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(3) > div:nth-of-type(1) {
            width: inherit;
            height: 20px;
            color: #666666;
            font-size: 10.08px; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(3) > div:nth-of-type(2) {
            width: inherit;
            height: 20px;
            color: #333333;
            font-size: 14.11px; }
        div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(4) {
          width: 236.7px;
          height: 21px;
          margin-top: 10px;
          display: flex;
          align-items: center; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(4) > div:nth-of-type(1) {
            width: 45px;
            height: inherit;
            font-size: 14.11px;
            color: #685BC7; }
          div.container2 > div:nth-of-type(2) > div.container-bestitems > div.bestitem > div:nth-of-type(4) > div:nth-of-type(2) {
            width: 47px;
            height: inherit;
            font-size: 14.11px;
            color: #666666;
            text-decoration: line-through; }
      div.container2 > div:nth-of-type(2) > div.container-bestitems div.bestitem:nth-of-type(1) > div:nth-of-type(1) > span {
        display: none !important; }
      div.container2 > div:nth-of-type(2) > div.container-bestitems div.bestitem:nth-of-type(2) > div:nth-of-type(1) > span {
        display: none !important; }
      div.container2 > div:nth-of-type(2) > div.container-bestitems div.bestitem:nth-of-type(4) > div:nth-of-type(1) > span {
        display: none !important; }
    div.container2 > div:nth-of-type(2) > div:nth-of-type(2) {
      width: 222.5px;
      height: 395px;
      position: relative;
      cursor: pointer; }
      div.container2 > div:nth-of-type(2) > div:nth-of-type(2) > img {
        width: inherit;
        height: inherit;
        object-fit: cover; }
      div.container2 > div:nth-of-type(2) > div:nth-of-type(2) > div {
        width: 222.2px;
        height: 200px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 30px 40px;
        font-size: 15.12px;
        text-transform: uppercase; }
        div.container2 > div:nth-of-type(2) > div:nth-of-type(2) > div > div:nth-of-type(1) {
          width: 164px;
          height: 84px;
          font-size: 30px;
          color: #333333;
          text-align: center; }
        div.container2 > div:nth-of-type(2) > div:nth-of-type(2) > div > div:nth-of-type(2) {
          width: 144px;
          height: 45.5px;
          border-radius: 25px;
          background-color: #0000004d;
          margin: 10px auto;
          font-size: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white; }
        div.container2 > div:nth-of-type(2) > div:nth-of-type(2) > div > div:nth-of-type(2):hover {
          background-color: rgba(255, 255, 255, 0.3);
          color: #333333; }

div.container2-plus {
  display: none; }
