div.container1 {
  width: 96%;
  height: 380px;
  margin: 0px auto;
  padding: 0px 0px;
  background-color: lightgreen;
  display: none; }
  div.container1 > div:nth-of-type(1) {
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: rtl;
    margin-bottom: 20px; }
    div.container1 > div:nth-of-type(1) > span:nth-of-type(1) {
      width: 110px;
      height: 45px;
      border-radius: 30px;
      border: 1px solid black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
      div.container1 > div:nth-of-type(1) > span:nth-of-type(1) > a {
        text-decoration: none;
        font: 14.112px; }
    div.container1 > div:nth-of-type(1) > span:nth-of-type(1):hover {
      background-color: #cccccc; }
    div.container1 > div:nth-of-type(1) > span:nth-of-type(2) {
      width: 211px;
      height: 47px;
      color: #333333;
      font-size: 35.32px;
      margin: auto; }
  div.container1 > div:nth-of-type(2) {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center; }
    div.container1 > div:nth-of-type(2) > div:nth-of-type(1) {
      width: 250px;
      height: 250px;
      position: relative; }
      div.container1 > div:nth-of-type(2) > div:nth-of-type(1) > img {
        width: inherit;
        height: inherit; }
      div.container1 > div:nth-of-type(2) > div:nth-of-type(1) > div {
        width: 180px;
        height: 40px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        color: white;
        bottom: 20px;
        left: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10.12px;
        text-transform: uppercase;
        border-radius: 25px; }
      div.container1 > div:nth-of-type(2) > div:nth-of-type(1) > div:hover {
        background-color: #cccccc;
        color: black; }
    div.container1 > div:nth-of-type(2) > div:nth-of-type(2) {
      width: 430px;
      height: 250px;
      margin-left: 13px;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems {
        width: 130.5px;
        height: inherit; }
        div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(1) {
          width: 130.5px;
          height: 150px;
          background-color: #f5f5f5;
          position: relative; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(1) > img {
            width: 130.5px;
            height: 150px; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(1) > span {
            width: 97.2px;
            height: 28px;
            background-color: #63666a;
            position: absolute;
            top: 10px;
            left: 10px;
            border-radius: 5px;
            color: white;
            font-size: 8px;
            padding: 5px;
            text-transform: uppercase; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(1) > div.botton {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 30px;
            right: 12px;
            background-color: white;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(1) > div:nth-of-type(2) {
            width: 226p 0.5x;
            height: 20px; }
        div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(2) {
          width: 226.5px;
          height: 23.2px;
          margin-top: 10px; }
        div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(3) {
          width: 226.5px;
          height: 41px;
          margin-top: 10px; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(3) > div:nth-of-type(1) {
            width: inherit;
            height: 20px;
            color: #666666;
            font-size: 8.08px; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(3) > div:nth-of-type(2) {
            width: inherit;
            height: 20px;
            color: #333333;
            font-size: 10.11px; }
        div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(4) {
          width: 226.5px;
          height: 21px;
          margin-top: 10px;
          display: flex;
          align-items: center; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(4) > div:nth-of-type(1) {
            width: 45px;
            height: inherit;
            font-size: 12.11px;
            color: #685BC7; }
          div.container1 > div:nth-of-type(2) > div:nth-of-type(2) > div.newitems > div:nth-of-type(4) > div:nth-of-type(2) {
            width: 47px;
            height: inherit;
            font-size: 14.11px;
            color: #666666;
            text-decoration: line-through; }

div.newitems:nth-of-type(2) > div:nth-of-type(4) > div:nth-of-type(1) {
  color: #333333 !important; }

div.newitems:nth-of-type(3) > div:nth-of-type(3) > div:nth-of-type(1) {
  color: #333333 !important;
  font-size: 9.11px !important; }

div.newitems:nth-of-type(3) > div:nth-of-type(1) > span {
  display: none !important; }

div.newitems:nth-of-type(2) > div:nth-of-type(1) > span {
  width: 48.15px !important; }

div.container1-plus {
  width: 100%;
  padding: 0px 15px;
  margin: 30px auto;
  display: block; }
  div.container1-plus > div:nth-of-type(1) {
    width: 211px;
    height: 47px;
    color: #333333;
    font-size: 35.32px;
    margin: auto; }
  div.container1-plus > div:nth-of-type(2) {
    width: 100%;
    height: 312px;
    position: relative; }
    div.container1-plus > div:nth-of-type(2) > img {
      width: inherit;
      height: inherit; }
    div.container1-plus > div:nth-of-type(2) > div {
      width: 228px;
      height: 45px;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      bottom: 20px;
      left: 145px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15.12px;
      text-transform: uppercase;
      border-radius: 25px; }
    div.container1-plus > div:nth-of-type(2) > div:hover {
      background-color: #cccccc;
      color: black; }
  div.container1-plus > div:nth-of-type(3) {
    width: 100%;
    height: 397px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    margin-top: 30px; }
    div.container1-plus > div:nth-of-type(3) > div.newitems-plus {
      width: 220px;
      height: inherit; }
      div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(1) {
        width: 220.7px;
        height: 240.7px;
        background-color: #f5f5f5;
        position: relative; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(1) > img {
          width: 220.7px;
          height: 240.7px; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(1) > span {
          width: 96.2px;
          height: 28px;
          background-color: #63666a;
          position: absolute;
          top: 10px;
          left: 10px;
          border-radius: 5px;
          color: white;
          font-size: 8px;
          padding: 5px;
          text-transform: uppercase; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(1) > div.botton {
          width: 45px;
          height: 45px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 30px;
          right: 12px;
          background-color: white;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(1) > div:nth-of-type(2) {
          width: 220.7px;
          height: 20px; }
      div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(2) {
        width: 220.7px;
        height: 23.2px;
        margin-top: 10px; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(2) > .checked {
          color: #80cdd0; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(2) > .not-checked {
          color: lightgray; }
      div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(3) {
        width: 220.7px;
        height: 60px;
        margin-top: 10px; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(3) > div:nth-of-type(1) {
          width: inherit;
          height: 20px;
          color: #666666;
          font-size: 10.08px; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(3) > div:nth-of-type(2) {
          width: inherit;
          height: 40px;
          color: #333333;
          font-size: 14.11px; }
      div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(4) {
        width: 220.7px;
        height: 21px;
        margin-top: 10px;
        display: flex;
        align-items: center; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(4) > div:nth-of-type(1) {
          width: 45px;
          height: inherit;
          font-size: 14.11px;
          color: #685BC7; }
        div.container1-plus > div:nth-of-type(3) > div.newitems-plus > div:nth-of-type(4) > div:nth-of-type(2) {
          width: 47px;
          height: inherit;
          font-size: 14.11px;
          color: #666666;
          text-decoration: line-through; }
  div.container1-plus > div:nth-of-type(4) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }
    div.container1-plus > div:nth-of-type(4) > span:nth-of-type(1) {
      width: 110px;
      height: 45px;
      border-radius: 30px;
      border: 1px solid black;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center; }
      div.container1-plus > div:nth-of-type(4) > span:nth-of-type(1) > a {
        text-decoration: none;
        font: 14.112px; }
    div.container1-plus > div:nth-of-type(4) > span:nth-of-type(1):hover {
      background-color: #cccccc; }
